body {
    padding-top: 70px;
}

.title {
    text-align: center;
}

.diagram {
    height: 400px;
    width: 100%;
    border: 1px solid #DDDDDD;
}

#details {
    height: 300px;
    margin-top: 30px;
    border: 1px solid #DDDDDD;
    border-top: none;
}
#details .bar {
    height: 25px;
    width: 100%;
    padding: 2px;
    padding-left: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #EFEFEF;
}
#details .content {
    padding: 20px;
}