{% extends 'warehouse/base.html' %}
{% load staticfiles %}

{% block title %}{{ warehouse.name }}{% endblock %}

{% block body %}
  <h1 class="title">{{ warehouse.name }} <small>Last updated ...</small></h1>
  <div class="row">
    <div class="col-md-8">
      <h3>Birds-eye view</h3>
      <div class="diagram"><canvas id="birdview"></div>
    </div>
    <div class="col-md-4">
      <h3>Mans-eye view</h3>
      <div class="diagram"><canvas id="groundview"></div>
    </div>
  </div>
  <div id="details">
    <div class="bar">
      Details
    </div>
    <div class="content"></div>
  </div>

  <script src="{% static 'warehouse/js/draw.js' %}"></script>
{% endblock %}